<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">

        <form action="/login" class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">user name</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter name" required autofocus>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">
                    remember me </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>

    </div>
</body>








</html>





